/*                  *****************************
                            VARIAVEIS CSS
                    *****************************                 */

$index-primary : #a2836e;
$index-secondary:#fff2df;
$index-tertiary:#9D6EA2;

$site-primary:#d9ad7c;
$site-secondary:#674d3c;
$site-tertiary:#fff2df;

/*                  *****************************
                                CSS BASE
                    *****************************                 */
* {
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

html,body{
    height: 100%;
    font-size:62.5% ;
}

p{
    font-size:2rem;
    text-align: justify;
    margin: 0
}

ul{ 
    list-style: none;
    padding: 0;
}

h2{
    font-size:5rem;
    color:$site-secondary;
}

h3{
    font-size:4rem;
}

h4{
    margin: 0;
    font-size: 3rem;
}

a{
    color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: underline;
}

hr{
    margin: 0.5rem;
}

input,label,button, textarea, option, select{
    font-size: 1.5rem;
}

main{
    width: 100%;
    height: fit-content;
    padding:2% 7% 2% 7%;
    
    background-color: $site-tertiary;
    color:$site-secondary;
}

header{
    position: relative;
    display: flex; 
    color:$site-primary;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    .header{
        &-backimg{
            background-image: url(../imgs/eva-darron-oCdVtGFeDC0-unsplash.jpg);    
            background-position-y: 25%;
            background-color: #555;
            background-blend-mode: multiply;
            background-size:cover;
            height: 400px;
            width: 100%;
        }
        &-nav{
            list-style: none;
            position: absolute;
            padding:2% 5% 0% 5%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &-logo{
                width: 15%;
                height: 100%;
            }
            a{
                padding: 1rem;
                border-radius: 4rem;
                font-size: 2rem;
                transition: 0.3s ;
            }
            a:hover{
                background-color: aliceblue;   
                transform: scale(1.1);
            }
        }
        &-content{
            position: absolute;
            top: 25%;
            height: 20rem;
            width: 100%;
            li{
                padding:6% 0% 0% 5%;
                h2{
                    color: #a2836e;
                    margin:0px;
                    font-size:50px;
                }
                p{
                    font-size: 2rem;
                    width: 70%;
                }
            }
        }
    }
}

footer{
    padding:2% 7% 1% 7%;
    display: flex;
    width: 100%;
    background-color: $site-tertiary;
    justify-content: space-between;
    .info-footer{
        width: 70%;
        color: $site-secondary;
        ul{
            display: flex;
            padding: 0px;
        }
        li{
            margin: 0px 5% 0px 0%;
        }
        a{
            cursor: pointer;
            font-size: 2rem;
            text-decoration: underline;
            transition: 0.3s ;
        }
        &-social-media{
            width: 30%;
            align-items: center;
            color: $site-secondary;
        }
        &-logos-container{
            display: flex;
            justify-content: flex-start;
            img{
                width: 15%;
                height: 100%;
                margin: 0px 10% 0px 5%;
            }
        }
        
    }
    
}

.m-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    border-radius: 10px;
}

.hidden-nav{
    display: none;
}

@media only screen and (max-width: 950px) {
    .header-nav, .header-nav li{
        display: none;
    }

    .hidden-nav{
        position: absolute;
        padding: 1% 0px 1% 0px;
        background-color: $site-secondary;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hidden-nav img{
        width: 4rem;
        padding: 0.5rem ;
        border: 0.1rem solid black;
        border-radius: 1rem;
    }

    .dropdown-header {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        position: relative;
        display: inline-block;
        &:hover .dropdown-content-header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            position: relative;
        }
        a {
            font-size: 2.5rem;
        }
    }
    
    .dropdown-content-header {
        width: 100%;
        display: none;
        position: absolute;
        margin-bottom: 1rem;
        background-color: inherit;
        min-width: 16rem;
        :hover {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            position: relative;
        }
    }
}

/*                  *****************************
                            CSS DESTINOS.HTML
                    *****************************                 */

.paises{
    h4{
        background-color: $site-primary;
        margin-top:1rem ;
    }
    img{
        width: 80%;
        height: 100%;
    }
}

/*                  *****************************
                            CSS HOME.HTML
                    *****************************                 */

.aboutus{
    p{  
        padding: 20px 10px 10px 10px ; 
    }
    img{
        padding: 30px 20px 15px 10px;
        border-radius: 50%;
        width: 197px;
        height: 197px;
        position: relative;
        float: right;
        right: 0.3%;
        shape-outside:circle(50%)
    }
}

.paises{
    &-box{
        display: grid;
    }

    &-box-galeria{
        display: grid;
        grid-template-columns: repeat(3,minmax(100px,1fr)) ;
        grid-auto-rows:minmax(200px,auto) ;
        grid-auto-flow: dense;
        column-gap:.7em ;
        row-gap: .7em;
        margin: 20px 0 40px 0 ;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            border: 2px $site-secondary dashed ;
        }
        img:hover{
            transform: scale(1.02);
            transition: .3s ease-in-out;
        }
        .span-vert{
            grid-column-end: span 1;
            grid-row-end: span 2;
        }
        .span-hori{
            grid-column-end: span 2;
            grid-row-end: span 1;
        }
    }
}

/*                  *****************************
                            CSS CONTATO.HTML
                    *****************************                 */


.sac-container{
    display: flex;
    justify-content: space-around;
    .m-card{
        width: 40%;
        height: 15rem;
        padding: 1rem 2rem 1rem 2rem;
        gap:15%;
        align-items: center;
        div{
            width: 60%;
            text-align: left;
        }
        h4{
            white-space: nowrap;
        }
        a{
            font-size: 1.5rem;
        }
        img{
            width: 20%;
            height: 60%;
        }
    }
}

.duvrec-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    div > p {
        font-size: 1.5rem;  
        text-align: left;
    }
    .m-card{
        width: 30%;
        height: 13rem;
        padding: 0.5rem 1rem 0.5rem 1.5rem;
        gap:10%;
        align-items: center;
    }
    img{
        width: 20%;
        height: 50%;
    }
}

.form-contato-container{ 
    .m-card{
        width: 80%;
        margin-top: 1rem;
        padding: 2%;
        justify-content: space-between;
    }
    img{
        width: 40%;
        height: 40%;
    }
    &-forms{
        width: 50%;
        border-radius: 2rem;
        h3{
            font-size: 4rem;
        }
        div{ 
            margin: 0.5rem;
            display: flex;
            justify-content: space-between;
            text-align:left;
        }
        label{
            font-size: 2rem;
        }
        button{
            margin-top: 2rem;
            width: 50%;
            font-size: 2rem;
            background-color: $site-primary;
            border-color: $site-secondary;
            border-radius: 1rem;
        }
    }
}

@media only screen and (max-width:900px){
    .sac-container{
        .m-card p{
            font-size: 1.5rem;
        }
        .m-card img{
            display: none;
         }
    }
    .duvrec-container{
        .m-card img{
            display: none;
        }
    }
    .form-contato-container{
        &-forms{
            width: 100%;
            padding:0px 5rem 0px 5rem;
        }
        img{
            display: none;
        }
    }
}

/*                  *****************************
                            CSS PROMOCOES.HTML
                    *****************************                 */

.main-promocoes{
    display: flex;
}

.filtro-box{
    width: 30%;
    margin-right: 3%;
    margin-top: 3%;
    &-lugares{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
    
    &-valores{
        margin-top: 1rem;
        div{
            margin-left: 1rem;
        }
        &-slider{
            border-radius: 5rem;  
            appearance: none;
            background:$site-primary;
            opacity: 0.7;
            height: 3px;
            width: 85%;
        }
        &-slider::-webkit-slider-thumb {
            appearance: none;
            width: 10px;
            height: 10px;
            background:$site-primary;
            border-radius: 50%;
            cursor: pointer;
        }
        label{
            font-size: 2rem;
        }
    }
    &-tipo{
        margin-top: 1rem;
        &-container{
            margin-left: 1rem;
        }
        label{
            font-size: 2rem;
        }
    }
}

.box-products{
    width: 100%;
    margin-top:3% ;
}

.lista-viagens{
    margin-left: 5rem;
    .viagem{
        margin-left: 5rem;
        &:not(:first-child){
            margin-top: 5%;
        }
        .m-card{
            width: 90%;
            height:70% ;
            padding: 2%;
            display: flex;
            img{
                width: 20.5rem;
                height: 13.7rem;
                border-radius: 1rem;
            }
            .info{
                margin-left:5% ;
                width: 100%;
            }
            .sub-card{
                display: flex;
                align-items: end;
                form button{
                    height: 3rem;
                    width: 50%;
                    border-radius: 1rem;
                }
            }
            .sub-info{
                width: 70%;
            }
        }
    }
    
}

.dropdown {
    margin-top: 1rem;
    position: relative;
    display: inline-block;
    
    &-content {
        display: none;
        position: absolute;
        padding-left: 10%;
        margin-bottom: 1rem;
        background-color: inherit;
        min-width: 16rem;
    }
    &:hover &-content {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        position: relative;
    }
}

@media only screen and (max-width: 800px){
    .viagem{
        .m-card{
            padding-top: 5%;
            width: 90%;
            align-items: center;
            flex-direction: column;
            .info{
                margin-left:5% ;
                width: 80%;
            }
            img{
                width: 30rem;
                height: 19rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
            }
            .sub-card{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                button{
                    margin-left: 2rem;
                    width: 80%;
                }
                
            }
        }
        
    }
}

/*                  *****************************
                            CSS INDEX.HTML
                    *****************************                 */

.menubg{
    background-color: $index-primary ;
}  

.menu{
    &-nav-container{
        padding: 2rem 10rem;
    }
    &-nav{
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: auto;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        column-gap: 1.6rem;
        a{
            text-decoration: none;
            color: $index-secondary;
            padding: 0.4rem;
        }
        div{
            display: flex;
            justify-content: right;
        }
        &-title{
            font-size:5rem ;
            color:$index-secondary ;
            font-family: 'Yanone Kaffeesatz', sans-serif;
        }
        &-int{
            display: flex;
            gap: 1.5rem;
            a:hover{
                transform: scale(1.1);
                text-decoration: underline $index-secondary;
            }
        }
        &-login{
            border-radius: 1rem;
            background-color: $index-tertiary;
            border: 0.1rem solid black;
            width: 10.5rem;
            text-align: center;
        }
    }
    
}

.main-index{
    background-color: $index-primary ;
    padding: 0;
    text-align: center;
    &-title{
        color:$index-secondary ;
        margin-top: 4rem;
        font-size: 4rem;
    }
    &-text{
        text-align: center;
        margin-bottom: 3rem;
    }
    &-img{
        position: absolute;
        bottom: 1rem;
        width: 40%;
        height: 50%;
    }
    &-button{
        font-size: 2rem;
        color: $index-secondary;
        padding:0.5rem 10rem ;
        border-radius: 1rem;
        border: 0.2rem solid black;
        background-color: $index-tertiary;
        text-decoration: none;
    }
}

.img-f{
    left: 1rem;
}

.img-s{
    right: 1rem;
}

@media only screen and (max-width:1000px) {
    .img{
        width: 40%;
        height: 40%;
    }
}

/*                  *****************************
                            CSS LOGIN.HTML
                    *****************************                 */


.login{
    background-color: $index-primary;
    width: 100%;
    height:auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    &-forms-container{
        text-align: center;
        height: 20rem;
        h2{
            font-size: 6rem;
        }
       
        .button{
            border-radius: 1rem;
            font-size: 1.5rem;
            background-color: $index-tertiary;
            border: 0.1rem solid black;
            width: 10.5rem;
            text-align: center;
        }
        
    }
    &-imagem{
        position: absolute;
        height: 60%;
        right: 5%;
    }
    &-imagem-2{
        position: absolute;
        height: 60%;
        left: 100px;
    }
}

/*                  *****************************
                            CSS CADASTRO.HTML
                    *****************************                 */
                    
                    
